input[type=text]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.leftColumn{
    float: left;
    width: 65%;
}
.rightColumn{
    float: left;
    width: 35%;
}
.search{
    font-family: "Comic Sans MS";
    font-size: 20px;
    margin: 10px;
}
.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    clear: both;
    display: table;
}
.Image{
    width: 50%;
    height: 50%;
    padding: 20px;
}
@media screen and (max-width: 800px){
    .leftColumn, .rightColumn{
        width: 100%;
        padding: 0;
    }
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
input[type=text], [type=password]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.picTitle{
    font-family: "Lucida Handwriting", "Courier New", monospace;
    text-shadow: 2px 2px;
    font-size: 30px;
}
.picAuthor{
    font-family: "Brush Script MT", "Courier New", monospace;
    font-size: 20px;
}
.picDis{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
.deleteButton{
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 12px;
    cursor: pointer;
    opacity: 0.6;
}
.deleteButton:hover{
    opacity: 1;
    background: darkred;
}
a.more:link{ color: #111111 }
a.more{
    text-decoration: none;
}
#fail{
    font-family: "Copperplate Gothic Bold", Fantasy;
    font-size: 30px;
    text-align: center;
}