.headPic{
    margin: 0 auto;
    width: 1500px;
    height: 550px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}
.headPicTitle{
    font-family: "Georgia", Times, serif;
    font-size: 15px;
    text-align: center;
    width: 800px;
    padding-left: 100px;
}
.headPicDes{
    font-size: 15px;
    width: 800px;
    text-align: center;
    padding-left: 100px;
    word-wrap: break-word;
}
.Col{
    float: left;
    width: 30%;
    padding: 15px;
    margin-outside: 60px;
    text-align: center;
}
.headColumn{
    float: left;
    width: 30%;
    padding: 15px;
    text-align: center;
}
.Row:after{
    margin: 0 auto;
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px){
    .column{
        width: 100%;
    }
}
img {
    width: 250px;
    height: 250px;
}
.head {
    width: 800px;
    height: 320px;
    float: bottom;
    text-align: center;
    padding-left: 100px;
}
.des{
    font-family: "Georgia", Times, serif;
    font-size: 15px;
}
a.more:link{ color: black }
a.more:visited{ color: darkgray }
a.more:hover{ color: darkcyan }
a.more{
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
#picContainer{
    width: 1000px;
    height: 550px;
    overflow: hidden;
    margin: auto;
}
#photoContainer{
    width: 3200px;
    animation: switch 8s ease-out infinite;
    text-align: center;
    margin: 0 auto;
}
#photoContainer > img{
    float: left;
    width: 1000px;
    height: 450px;
}
@keyframes switch {
    0%, 25%{
        margin-left: -10px;
    }
    35%, 60%{
        margin-left: -1000px;
    }
    70%, 100%{
        margin-left: -2000px;
    }
}