#slogan{
    font-family: Papyrus, Fantasy;
    font-size: 40px;
}
.user{
    width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
}
.label{
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    width: 150px;
    text-align: center;
    display: inline-block;
}
input[type=text], [type=password]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button{
    background: darkgray;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 12px;
    cursor: pointer;
    border-radius: 12px;
    opacity: 0.6;
}
.button:hover{
    opacity: 1;
}
a.change:link{ color: black }
a.change:visited{ color: darkgray }
a.change:hover{ color: darkcyan }
a.change{
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
}